# Data Bootcamp Code Practice 2
Lillian Xue

# Q1 
This code will not run because of an error â€“ there are two different types and therefore cannot be operated under a single function.

In [1]:
x = [1,2,3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

# Q2
The function "type" tells us their respective types, while the function "len" tell us how items they contain

In [6]:
print(type(x))
print(type(y))

<class 'list'>
<class 'str'>

In [5]:
print(len(x))
print(len(y))

3
8

# Q3
* 2 is an integer
* '2' is a string, because it is in single quotes
* 2.0 is a float, because there is a decimal point
* "2.0" is a string
* 2>1 is a bool, which is a boolean value that represents a truth value
* 'Itamar'>'Chase' is also a bool because it represents a truth statement
* [1, 2] is a list
* (1, 2) is a tuple (two integers)
* {1: 'one', 2: 'two'} is a dictionary that provides definitions to an index

In [8]:
type(2)

int

In [9]:
type('2')

str

In [10]:
type(2.0)

float

In [11]:
type("2.0")

str

In [12]:
type(2>1)

bool

In [13]:
type('Itamar'>'Chase')

bool

In [14]:
type([1, 2])

list

In [17]:
type((1, 2))

tuple

In [18]:
type({1: 'one', 2: 'two'})

dict

# Q4
1>=0 is True because it the statement is valid.

In [1]:
1>=0

True

1 >= 1 is the same as the last statement because spaces do not matter.

In [2]:
1 >= 1

True

1 > 1 is False because the statement does not make sense.

In [3]:
1 > 1

False

1 == 1 is True because the two operands are equal.

In [6]:
1 == 1

True

1 == 1.0 is True because similarly, the two operands are equal in value.

In [7]:
1 == 1.0

True

'Spencer' == "Spencer" is True because both sides are the same string.

In [8]:
'Spencer' == "Spencer"

True

2* * 3 > 3 * * 2 is False because the two sides are equal in value = 6.

In [10]:
2**3 > 3**2

False

1 >= 0 and 1 <=2 are True because both statements are valid standalone.

In [11]:
1 >= 0 or 1 <= 2

True

1 >=0 and 1 <=2 is True because both statements are valid simultaneously.

In [13]:
1 >= 0 and 1 <= 2

True

# Q5

This has an error in the syntax after the 'if 2>1'.
Below is the correct code:

In [15]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

# Q6

The result will only show the True statement because there is no value that is false.

In [16]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

If we replace True with False in the first line, we will get the second string because that is now the True value.

In [17]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

If we insert the word 'not' after if in the first line, we get the same effect as if we had replaced the True with False. Because the else statement now contains the True value.

In [18]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

# Q7

In [19]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

# Q8

In [20]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

if len(x)>len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

# Q9
Slicing separates a sequence into different elements.

# Q10
Slicing the first element from the rest:

In [35]:
x = [1, 2, 3, 4, 5]
x[0]

1

Slicing the last element:

In [34]:
x = [1, 2, 3, 4, 5]
x[-1]

5

Slicing all but the last element:

In [33]:
x = [1, 2, 3, 4, 5]
x[:-1]

[1, 2, 3, 4]

# Q11
Below is the code for slicing the sentence:

In [47]:
sentence = 'This is a sentence; please slice it.'
sentence[0:4]
sentence[5:7]
sentence[8:9]
sentence[10:18]
sentence[20:26]
sentence[27:32]
sentence[33:35]

'it'

# Q12

a) Slicing out the first item, and slicing out the last item

In [56]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x[1:], x[:-1]

([2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10],
 [1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren'])

b) Slicing out the items from 'b' to 3 inclusive:

In [58]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x[3:7]

['b', 'fast', 'slow', 3]

# Q13

In [59]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for i in x:
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

# Q14

In [61]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for i in x:
    if (type(i) == str):
        print(i)

a
b
fast
slow
Raghu
Liuren

# Q15
According to the help function, the range function returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.

In [62]:
range?

In this case, range(3, 12, 2) will extract all integers between 3 and 12, but by every 2nd integer from the previous, stopping short of 12.

In [64]:
list(range(3, 12, 2))

[3, 5, 7, 9, 11]

# Q16

In [66]:
sum(range(0, 31, 3))

165

# Q17

In [87]:
def pocket_change(p, n, d, q):
    sum = ((p*0.01) + (n*0.05) + (d*0.1) + (q*0.25))
    return'${:,.2f}'.format(sum)

In [88]:
pocket_change(1, 2, 3, 4)

'$1.41'

# Q18

In [94]:
def notsix(x):
    y = []
    for i in x:
        if (str(i)[0] != "6"):
            y.append(i)
    return y

In [96]:
x = [1234, 6783, 6, 4321, 9876]
notsix(x)

[1234, 4321, 9876]

# Q19
This code saves an old/original list with several integers. It also creates a new list that removes all values that start with '6' from the old list.

In [98]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] !="6"]

# Q20

In [99]:
z = {1: 'one', 2: 'two', 3: 'three'}

a) z is a dictionary, and its length is 3.

In [100]:
type(z)

dict

In [101]:
len(z)

3

b) The numbers (1, 2, 3) are keys, corresponding to the string values 'one', 'two', and 'three'.

c) You would simply use the key '2' to return the value from the dictionary z.

In [102]:
z[2]

'two'

d) z.keys( ) returns a set-like object that provides a view on the dictionary's keys. Similarly, z.values( ) returns a set of all the values in the dictionary z.

In [106]:
z.keys()

dict_keys([1, 2, 3])

In [107]:
z.values()

dict_values(['one', 'two', 'three'])

e) list(z.keys ( )) converts all the keys in dictionary z into a list.

In [108]:
list(z.keys())

[1, 2, 3]

f) list(z.values( )) converts all the values in dictionary z into a list.

In [109]:
list(z.values())

['one', 'two', 'three']

g) list(z) converts the dictionary into a list, that will only show the values.

In [110]:
list(z.values())

['one', 'two', 'three']

# Q21

Around an hour.